<!-- IF S_WOWMEMBERCHECK_SHOW_AUTH_NOTICE -->

<style type="text/css">
.wow_ask_for_auth_notice {
	background-color: #474747;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 600;
}

.wow_ask_for_auth_notice span {
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 17px;
}

.wow_ask_for_auth_notice a.wow_help_link {
}

.wow_ask_for_auth_notice a.wow_button {
	text-decoration: none;
	color: white;
	background-color: #5d8e4e;
	padding: 5px 40px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	/*border-width: 2px;
	border-style: solid;
	border-color: #fff;*/
}

.wow_ask_for_auth_notice .wow_left {
	float: left;
	margin-left: 50px;
}

.wow_ask_for_auth_notice .wow_right {
	float: right;
	margin-right: 50px;
}
</style>

<!-- ENDIF -->
