<script type="text/javascript">
// <![CDATA[
	function wowmembercheck_open_battlenet_auth_page() {
		window.open("{S_WOWMEMBERCHECK_BNET_AUTH_PATH}","_blank","menubar=0,status=0,height=700,width=500,location=1");
	}
// ]]>
</script>
<dl>
	<dt><label for="wowmembercheck_battlenet_button">{L_WOW_GUILD_MEMBER_CHECK_BATTLENET_BUTTON_EXPLAIN}</label></dt>
	<dd><input type="button" class="button2" name="wowmembercheck_battlenet_button" id="wowmembercheck_battlenet_button" value="{L_WOW_GUILD_MEMBER_CHECK_BATTLENET_BUTTON}"
		onclick="wowmembercheck_open_battlenet_auth_page(); return false;"/></dd>
</dl>
