services:
    FH3095.WoWGuildMemberCheck.ProfileFieldHelper:
        class: FH3095\WoWGuildMemberCheck\ProfileFieldHelper
        arguments:
            - '@user'
            - '@dbal.conn'
            - '@profilefields.manager'
            - '%tables.profile_fields%'

    FH3095.WoWGuildMemberCheck.RestHelper:
        class: FH3095\WoWGuildMemberCheck\RestHelper
        arguments:
            - '@config'
            - '@user'

    FH3095.WoWGuildMemberCheck.service:
        class: FH3095\WoWGuildMemberCheck\service
        arguments:
            - '@config'
            - '@user'
            - '@dbal.conn'
            - '@FH3095.WoWGuildMemberCheck.ProfileFieldHelper'
            - '@FH3095.WoWGuildMemberCheck.RestHelper'
            - %core.root_path%
            - .%core.php_ext%

    FH3095.WoWGuildMemberCheck.controller:
        class: FH3095\WoWGuildMemberCheck\controller\main
        arguments:
            - '@config'
            - '@controller.helper'
            - '@template'
            - '@user'
            - '@request'
            - '@FH3095.WoWGuildMemberCheck.service'

    FH3095.WoWGuildMemberCheck.listener:
        class: FH3095\WoWGuildMemberCheck\event\main_listener
        arguments:
            - '@template'
            - '@FH3095.WoWGuildMemberCheck.service'
            - '@FH3095.WoWGuildMemberCheck.ProfileFieldHelper'
            - '@FH3095.WoWGuildMemberCheck.RestHelper'
            - '@user'
        tags:
            - { name: event.listener }

    FH3095.WoWGuildMemberCheck.cron.task.crontask:
        class: FH3095\WoWGuildMemberCheck\cron\task\crontask
        arguments:
            - '@config'
            - '@FH3095.WoWGuildMemberCheck.service'
            - '@dbal.conn'
            - '@user'
            - '@log'
        calls:
            - [set_name, [cron.task.wowguildmembercheck_crontask]]
        tags:
            - { name: cron.task }
