imports:
    - { resource: tables.yml }

services:
    FH3095.WoWGuildMemberCheck.service:
        class: FH3095\WoWGuildMemberCheck\service
        arguments:
            - '@config'
            - '@controller.helper'
            - '@user'
            - '@request'
            - '@dbal.conn'
            - %core.root_path%
            - .%core.php_ext%
            - '%FH3095.WoWGuildMemberCheck.tables.WowCharToUser%'
            - '%tables.user_group%'


    FH3095.WoWGuildMemberCheck.controller:
        class: FH3095\WoWGuildMemberCheck\controller\main
        arguments:
            - '@config'
            - '@controller.helper'
            - '@template'
            - '@user'
            - '@request'
            - '@FH3095.WoWGuildMemberCheck.service'
            - '%FH3095.WoWGuildMemberCheck.tables.WowCharToUser%'

    FH3095.WoWGuildMemberCheck.listener:
        class: FH3095\WoWGuildMemberCheck\event\main_listener
        arguments:
            - '@controller.helper'
            - '@template'
            - '@user'
            - '%core.php_ext%'
            - '@FH3095.WoWGuildMemberCheck.service'
            - '%FH3095.WoWGuildMemberCheck.tables.WowCharToUser%'
        tags:
            - { name: event.listener }

    FH3095.WoWGuildMemberCheck.cron.task.crontask:
        class: FH3095\WoWGuildMemberCheck\cron\task\crontask
        arguments:
            - '@config'
            - '@FH3095.WoWGuildMemberCheck.service'
            - '@dbal.conn'
            - '@user'
            - '@log'
            - '%FH3095.WoWGuildMemberCheck.tables.WowCharToUser%'
        calls:
            - [set_name, [cron.task.wowguildmembercheck_crontask]]
        tags:
            - { name: cron.task }
